.tables-array {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 74px;
  margin-right: 74px;
  margin-top: 60px;
}

.table-container {
  background-color: rgba(82, 78, 78, 0.904);
  width: 300px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba(108, 106, 106, 0.497);
  border-radius: 50px;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 18px;
}

.busy-table {
  background-color: rgba(202, 64, 64, 0.904);
  width: 300px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba(163, 8, 8, 0.497);
  border-radius: 50px;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 18px;
}

.table-container:hover {
  background-color: rgba(25, 25, 25, 0.852);
  cursor: pointer;
}

.busy-table:hover {
  background-color: rgb(240, 61, 61);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .tables-array {
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
  }

  .table-container,
  .busy-table {
    margin-left: 0px;
    width: 100%;
    height: 130px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .tables-array {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .table-container,
  .busy-table {
    width: 250px;
    height: 130px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1500px) {
  .tables-array {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .table-container,
  .busy-table {
    width: 300px;
  }
}
